{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ bg_img_url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Somethings about me</h1>
            <span class="subheading">A little description for me and this blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey! I'm Alejo, a 21 years old Software Developer from Argentina, trying to improve my skills by developing some apps by myself and applying all the knowledge I've got during the last 3 years, studying by myself and in System Engineering career</p>
        <p>In this blog page I'm going to be posting some random stuff about my life and the path I'm taking to become a better Software Engineer every day. My goal is to get this web app to work by myself to help me keep track of the things I'm working on, and for you to get to know me. Also I'm going to be updating the app frequently applying new things that for sure, I'll be learning </p>
        <p>English is not my native language so this is a challenge I've decided to put myself through, because I'm sure this will help me to improve my English level even more</p>
        <p>So, <b>Welcome!</b> 😊</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}